<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/landing-ai/data-centric-comp" data-icon="octicon-star" data-style="mega" data-count-href="/landing-ai/data-centric-comp/stargazers" data-count-api="/repos/landing-ai/data-centric-comp#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star landing-ai/data-centric-comp on GitHub">Star</a>
