.cover#topCover
  .container
    .row
      .col-md-12
        #coverLogo
          img#dlLogo(src="./logo_primary_white.svg")
          div.split |
          img#laLogo(src="./landing_logo.svg")

        h1.appTitle Data-Centric AI Competition
        p.appTitle Join the data-centric AI movement!
        a.btn.actionBtn.inverseBtn(href='https://worksheets.codalab.org/worksheets/0x7a8721f11e61436e93ac8f76da83f0e6' target="_blank") Click here to enter the contest!
