.cover#topCover
  .container
    .row
      .col-md-12
        #coverLogo
          img#dlLogo(src="./logo_primary_white.svg")
          div.split |
          img#laLogo(src="./landing_logo.svg")

        h1#appTitle Data-Centric AI Competition
